.points__list {
  display: flex;
  gap: 30px;

  &-item {
    flex-basis: calc((100% - 90px) / 4);
  }
  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: var(--background-light-color);
  }
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
  &-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey-color);
  }
}
