/* .advantages-block {
} */

.our-advantages-list {
  display: flex;
  gap: 30px;
}

.our-advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.our-advantages-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--background-light-color);
}

/* .our-advantages-icon {
} */

.our-advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.our-advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);
}
