.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop-modal-block {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 40px;
}

.backdrop-modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-modal-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.backdrop-modal-close-btn:hover {
  fill: var(--blue-color);
}

/* .backdrop-modal-close-icon {
} */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.backdrop.is-hidden .backdrop-modal-block {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop-modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 12px;
}

/* .backdrop-modal-form {
} */

.backdrop-modal-field {
  margin-bottom: 10px;
}

.modal-input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  display: block;
  position: relative;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-text {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 35px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus {
  border-color: var(--blue-color);
}

.modal-input-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus + .modal-input-icon {
  fill: var(--blue-color);
}

.modal-textarea-comment {
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-input);
  background-color: transparent;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-comment:focus {
  border-color: var(--blue-color);
}

.modal-textarea-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal-checkbox-wrap {
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-label-agree {
  font-size: 14px;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-label-agree span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-input:checked + .modal-label-agree span {
  background-color: var(--blue-color);
  border: none;
  fill: var(--white-text-color);
}

/* .modal-check-icon {
} */

.modal-link-condition {
  color: var(--link-condition-color);
}

.modal-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order-btn:hover,
.modal-order-btn:focus {
  background-color: var(--button-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
